#create-post {
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  bottom: 0;
  top: 56px;
  background: white;
  text-align: center;
  display: none;
}

.main-image {
  max-width: 100%;
  margin: auto;
  display: block;
}

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.input-section {
  display: block;
  margin: 10px auto;
}

.shared-moment-card.mdl-card {
  margin: 10px auto;
  width: 380px;
}


@media (min-width:1761px) and (max-width: 2060px) {
    .shared-moment-card.mdl-card {
        width: 35%;
    }
}


@media (min-width:1601px) and (max-width: 1760px) {
    .shared-moment-card.mdl-card {
        width: 40%;
    }
}

@media (min-width:1301px) and (max-width: 1600px) {
    .shared-moment-card.mdl-card {
        width: 45%;
    }
}

@media (min-width:1025px) and (max-width: 1300px) {
    .shared-moment-card.mdl-card {
        width: 48%;
    }
}



@media (min-width:960px) and (max-width: 1024px) {
    .shared-moment-card.mdl-card {
        width: 50%;
    }
}

@media  (min-width:801px) and (max-width: 959px) {
    .shared-moment-card.mdl-card {
        width: 55%;
    }
}

@media (min-width:769px) and (max-width: 800px) {
    .shared-moment-card.mdl-card {
        width: 60%;
    }
}

@media (min-width:569px) and (max-width: 768px) {
    .shared-moment-card.mdl-card {
        width: 70%;
    }
}

@media (min-width:481px) and (max-width: 568px) {
    .shared-moment-card.mdl-card {
        width: 75%;
    }
}

@media (min-width:321px) and (max-width: 480px) {
    .shared-moment-card.mdl-card {
        width: 100%;
    }
}

@media (min-width:0px) and (max-width: 320px) {
    .shared-moment-card.mdl-card {
        width: 100%;
    }
}

.shared-moment-card .mdl-card__title {
    height: 150px;
}

@media (min-height:600px) {
    .shared-moment-card .mdl-card__title {
        height: 180px;
    }
}

@media (min-height: 1000px) {
    .shared-moment-card .mdl-card__title {
        height: 240px;
    }
    
}